duckduckgo-search>=6.0.0
# Adicionamos esta linha abaixo para corrigir o erro específico do 'ddgs'
ddgs
streamlit
smolagents
litellm
langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-ollama
chromadb
pdfplumber
groq
google-generativeai
pandas
numpy
beautifulsoup4
requests
matplotlib
openpyxl
qrcode[pil]